<!DOCTYPE html>
<html lang="en">
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/show.css"> 
</head>
<body>
        <nav style="background-color: #9BBFCF" class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a style="padding-left: 105px; color: azure;" class="navbar-brand" href="/">YelpCamp</a>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                     <% if(!currentUser){ %>
                        <li><a style="padding-right: 5px; color: azure;" href="/login">LogIn</a></li>
                        <li><a style="padding-right: 90px; color: azure;" href="/register">SignUp</a></li>
                  <% } 
                      else
                      { %>
                        <li> <a style="padding-right: 5px; color: azure;" href="#"><%= currentUser.username %> </a></li>
                        <li><a style="padding-right: 90px; color: azure;" href="/logout">Logout</a></li>
                      <% } %>
                     
                    </ul>
                  </div>
               </div>
            
             </nav>
             <div class="container">
                <% if(error && error.length>0) { %>
                      <div class="alert alert-danger" role="alert">
                          <%= error %>
                        </div>
                <% } %>
      
                  <% if(success && success.length>0) { %>
                      <div class="alert alert-success" role="alert">
                          <%= success %>
                        </div>
                  <% } %>
             </div>
             
             
             
    