<%- include('partials/header') %> 


<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 0 auto;">
            <h1 style="width: 200%; margin: 15% auto;">SignUp To YelpCamp</h1>
            <form style="margin: 25px auto;" action="/register" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-default btn-block">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 